{% extends 'base.html' %}
{% load static %}

{% block pgcss %} <link rel="stylesheet" href="{% static 'css/profile.css' %}"> {% endblock pgcss %}
{% block pgtitle %} <title>Profile</title> {% endblock pgtitle %}

{% block content %}
    <section class="main">
    <div class="profile">
        

        <div class="profile-stu">
            
            <ul class="profile-features">
                <li class="profile-features-item">Username</li>
                <li class="profile-features-item">Contact</li>
                <li class="profile-features-item">Address</li>
            </ul>

        </div>

        <div class="profile-stu">
            
            
            <ul class="profile-features">
                
                <li class="profile-features-item1">{{ request.user.first_name }} {{ request.user.last_name }}</li>
                <li class="profile-features-item1">{{ profile.phone }}</li>
                <li class="profile-features-item1">{{ profile.address }}</li>
            </ul>

        </div>



    </div>
</section>
{% endblock content %}