{% extends 'base.html' %} 
{% load static %}

{% block pgtitle %}
<title>Register</title>
{% endblock pgtitle %}

{% block pgcss %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock pgcss %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-row align-items-center">
            <div class="container register-form">
        
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="fname" required placeholder="Peter">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lname" required placeholder="Griffin">
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" required placeholder="peter07">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" required placeholder="peter@mail.com">
                    </div>
                    <div class="form-group">
                        <label >Enter password</label>
                        <input type="password" class="form-control" name="password1" required placeholder="******">
                    </div>
                    <div class="form-group">
                        <label>Re-enter passsword</label>
                        <input type="password" class="form-control" name="password2" required placeholder="******">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            <br>
        <h4>Already a user? <a href="{% url 'login' %}">Login</a></h4><br>
        <div class="d-flex flex-row flex-wrap">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert" style="">
                {{ message }}
            </div>
            {% endfor %}
        </div>
            </div>
            <div class="container back-drop">
                <img src="{% static 'images/earth.png' %}" alt="" style="width:700px;">
            </div>
        </div>
    </div>
    
{% endblock content %}